.overlay {
    position: fixed; /* Use fixed to ensure it covers the viewport */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Ensure it is on top of other components */
}


/* progres bar */
.outer-bar {
    height: 14px;
    background-color: rgb(216, 216, 216);
    border-radius: 7px;
    overflow: hidden;
}

.inner-bar {
    height: 14px;
}